.h-128 {
  height: 32rem;
}

.h-160 {
  height: 40rem;
}

.h-200 {
  height: 50rem;
}

.max-h-112 {
  max-height: 28rem;
}

.max-h-128 {
  max-height: 32rem;
}

.max-h-200 {
  max-height: 50rem;
}

.h-13 {
  height: 3.25rem;
}

.w-18 {
  width: 4.5rem;
}

.h-18 {
  width: 4.5rem;
}

.min-w-24 {
  min-width: 6rem;
}
