.optionimg {
    text-align: center;
    display: block;
    width: 350px;
    margin: 0px auto;
}

.optiontext {
    font-size: 30px;
    text-align: center;
    width: 350px;
    margin: 15px auto;
    margin-bottom: 40px;
        
}
.md {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px
}
h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
p {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    text-align:center;
}
img {
    position:relative;
    text-align:center;
    width: 100%;
}
td img {
    text-align:center;
    max-width:90%;
    border-radius: 30px
}
.imageeditor{
    margin: 0 auto;
z-index:9;
position:fixed;
background-color:white;
right:20px;
width:210px;
height:400px;
display:block;
border:1px solid black;
padding:10px;
}
#mask{
width:100%;
height:100%;
}
#reset{
width:70px;
height:30px;
}
.editor{
text-align:center;
}
.main{
max-width: 800px;
background-color: #FFFFFF;
font-family: 'NanumSquare', sans-serif;
z-index:1;
position:relative;
padding-top:45px;
}
canvas {
position:absolute;
cursor: crosshair;
/*   border: 1px solid #000000; */
z-index:2;
}
#mainsub {
    margin:auto;
    position:absolute;
    cursor: crosshair;
    /*   border: 1px solid #000000; */
    z-index:3;
}
.color{
width:70px;
height:30px;
}
.closebutton {
cursor: default;
position: absolute;
text-align: center;
top: 0%;
left: 95%;
width:30px;
border-radius:20px;
background-color:black;
opacity: 0;
transition: opacity .35s ease;
padding:3px;
color:white;
font-size:20px;
width:35px;
}

.container:hover .closebutton{
opacity: 1;
}
.container:hover {
    border:3px solid red;

}
.wrapper {
  width:210px;
  height:30px;
  position:relative;
  float:left;
  }
  .imageinterval{
    vertical-align:50%;
  }
  #switch {
    position: absolute;
    /* hidden */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .switch_label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 58px;
    height: 20px;
    background: #fff;
    border: 2px solid #daa;
    border-radius: 20px;
    transition: 0.2s;
  }
  .switch_label:hover {
    background: #efefef;
  }
  .onf_btn {
    position: absolute;
    top: 4px;
    left: 3px;
    display: inline-block;
    width: 20px;
    height: 12px;
    border-radius: 20px;
    background: #daa;
    transition: 0.2s;
  }
  
  /* checking style */
  #switch:checked+.switch_label {
    background: #c44;
    border: 2px solid #c44;
  }
  
  #switch:checked+.switch_label:hover {
    background: #e55;
  }
  
  /* move */
  #switch:checked+.switch_label .onf_btn {
    left: 34px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
  }
.container {
position: relative;
width: 750px;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}
.container1 {
position: relative;
}
.buttons1 {
width:70px;
height:30px;
position:relative;
float:left;
}
.buttons2 {
width:210px;
height:30px;
position:relative;
float:left;
}
.buttons {
width:70px;
height:30px;
position:relative;
float:left;
}
button{
width:100%;
height:100%;
}
.changed{
position:relative;
margin:auto;
width:100%;
display:block;
}
#imageqty{
text-align:center;
position:relative;
width:90%;
height:80%;
}
#size{
font-size:130%;
text-align:center;
position:relative;
width:90%;
height:80%;
}
.image{
  display:none;
}
body		{ font-family: 'NanumSquare', sans-serif }
.normal		{ font-weight: 400; font-size:22px;}
.bold		{ font-weight: 700 }
.bolder		{ font-weight: 800 }
.light		{ font-weight: 300 }